.navbar-brand,.nav-link{
    font-size: 2rem;
}
.layout-icon{
font-size: 2em;
}
.site-header{
    background:URL(images/Header.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover; 
}
.site-header,.layout-header{
    min-height: 50vh;
}